header, main, footer, section, aside, nav, article, figure, span {
	display: block;
}

html, body {
	margin: 0;
	padding: 0;
}

ul, a {
	text-decoration: none;
	list-style: none;
	padding-left: 0;
}

img {
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	display: block;
}

/* Анимация */
.animated {
	-webkit-animation-duration: 1s;
	        animation-duration: 1s;
	-webkit-animation-fill-mode: both;
	        animation-fill-mode: both;
}

.animated.infinite {
	-webkit-animation-iteration-count: infinite;
	        animation-iteration-count: infinite;
}
/* Pulse */
@-webkit-keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		        transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}
}
@keyframes pulse {
	from {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}

	50% {
		-webkit-transform: scale3d(1.05, 1.05, 1.05);
		        transform: scale3d(1.05, 1.05, 1.05);
	}

	to {
		-webkit-transform: scale3d(1, 1, 1);
		        transform: scale3d(1, 1, 1);
	}
}

.pulse:hover {
	-webkit-animation-name: pulse;
	        animation-name: pulse;
}
/* End Pulse */
/* Конец анимации */

.body, .wrapper {
	background-color: #E0DFDF;
	text-align: center;
}

/* Кнопка наверх */
.buttonUp {
	display: none;
	cursor: pointer;
	opacity: .4;
	background-color: #C0DBE7;
	border: 1px solid #0CC5E6;
	border-radius: 5px;
	-webkit-box-shadow: 0 0 5px 1px #979494;
	        box-shadow: 0 0 5px 1px #979494;
	position: fixed; /* Фиксируем элемент*/
	padding: 20px;
	bottom: 25px;
	left: 25px;
	width: 70px;
	height: 20px;
	z-index: 99; /* Делаем повверх всех элементов */
}

.buttonUp a {
	text-decoration: none;
	letter-spacing: 2px;
	color: #BFEBF7;
	font-family: 'exo_2bold';
}
/* Конец кнопки наверх */

.wrapper {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	min-height: 100%;
}

.wrapper-sidebar {
	background-color: #f3f3f3;
	width: 25%;
	min-width: 160px;
}

.wrapper-sidebar, .wrapper__page {
	border-right: 2px solid #D2CECE;
	min-height: 100%;
	padding: 10px;
}

.sidebar-nav {
	width: fit-content;
}

.sidebar-nav h2 {
	font-family: 'exo_2bold';
	font-size: 28pt;
	color: #333333;
}

.sidebar-nav h2 span {
	color: #00B1E4;
}

.nav-list {
	padding: 10px 0 10px 0;
}

.list-item {
	padding-left: 15px; /* Oтступ слева для списка */
	list-style: none; /* Убираем маркер */
	text-align: left;
	padding: 5px 0 5px 0;
}

.list-item a {
	display: block;
	text-align: left;
	padding: 3px;
	border-bottom: 2px solid #a7a7a7;
}

/* При простое и посещённой ссылке */
.list-item a, .list-item  a:visited {
	text-decoration: none; /* Убираем подчёркивание */
	font-family: 'exo_2_semi_boldregular';
	font-size: 14pt;
	color: #adadad;
	padding: 7px;
}

.list-item a:hover {
	cursor: pointer; /* При наведение курсор - рука */
	border-radius: 7px;
	background: #f3f3f3;
	-webkit-box-shadow: 0 0 5px #ADA9A9;
	        box-shadow: 0 0 5px #ADA9A9;
	padding: 7px;
	color: #02ADC6;
	text-decoration: underline solid #847B7B; /* Подчёркивание при наведении */
}

.wrapper__page {
	display: block;
}
/* Шапка */
.header {
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.header-logo {
	-ms-align-items: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	        flex-direction: row;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 100%;
}

.header-logo img {
	height: 80px;
	width: 300px;
	margin-right: 5px;
}

.header-logo h1 {
	font-size: 30pt;
	color: #4c4c4c;
	text-shadow: 0 0px 10px #7D7676;
	font-style: italic;
	font-family: 'exo_2regular';
	letter-spacing: 3px;
	font-weight: bold;
	margin-left: 5px;
	margin: 10px 0 10px 5px;
}
/* Конец шапки */

/* MAIN */
.main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	-o-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	width: 100%;
}

.main-container {
	display: flex;
	padding: 15px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.info-caption {
	position: relative;
}

.info-caption h3 {
	color: #444343;
	font-family: 'exo_2_semi_bolditalic';
	font-size: 24pt;
	display: flex;
	justify-content: center;
}

.info-caption h3::before {
	content: "";
	border-bottom: 2px solid #229dff;
	position: absolute;
	width: 80%;
	bottom: 28%;
}
/* Блок обо мне */

.my-info p {
	text-align: left;
	font-family: 'exo_2_lightregular';
	margin: 50px 0;
}

.my-info em {
	font-weight: bold;
	color: #0660BD;
}
/*Конец блока обо мне */
/* Блок скилов */
.container-skil {
	display: block;
	margin: 30px;
}

.block-flex {
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.skil {
	background: #e0dfdf;
	display: block;
	height: 80px;
	width: 260px;
  padding: 1px 5px;
  transition: .25s;
}

.skil > h4 {
	color: #2D586C;
	margin: 10px;
	letter-spacing: 1px;
	font-family: 'exo_2_semi_bolditalic';
}

.skil > h4:hover {
	color: #4294AC;
}

.skil:hover {
	background: #D0D7D8;
	-webkit-box-shadow: 0px 0px 5px 1px #9E9595, inset 0px 0px 1px 1px dodgerblue;
	box-shadow: 0px 0px 5px 1px #9E9595, inset 0px 0px 1px 1px dodgerblue;
}


.skil progress {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
	display: inline-block;
	height: 8px;
	width: 260px;
	vertical-align: 0;
}
/* Конец блока скилов */

/* Блок портфолио */
.block-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.block-cell {
	-ms-align-items: flex-start;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 290px;
	position: relative;
	padding: 4px;
	margin: 5px 2px;
	width: 230px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	transition: .2s;
}

.block-cell:hover {
	background-color: #D6D5D5;
	border-radius: 5px;
	box-shadow: 0px 5px 11px 1px #7b7b7b, inset 0px 0px 1px 1px #8888883b;
	-webkit-box-shadow: 0px 5px 11px 1px #7b7b7b, inset 0px 0px 1px 1px #8888883b;
}

.block-cell > figure {
	-ms-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	box-shadow: 0 0 9px 0px #696969;
	border-radius: 4px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 3px auto;
	padding: 2px;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

.block-cell > h4 {
	color: #2D586C;
	font-family: 'exo_2_semi_bolditalic';
	font-weight: bold;
	font-size: large;
	letter-spacing: 1px;
	margin: 10px 0;
	width: 100%;
}

.block-cell > p {
	font-size: 10pt;
	font-family: 'exo_2regular';
	text-align: left;
}

.block-cell > a {
	position: absolute;
	bottom: 7px;
	border-radius: 7px;
	color: #9E9595;
	padding: 3px;
	margin-top: 10px;
}

.block-cell > a:hover {
	border-radius: 7px;
	background-color: #c9d1d8;
	color: #124861;
	padding: 3px;
	-webkit-text-decoration-style: solid;
	text-decoration-style: solid;
	-webkit-text-decoration-line: underline;
	text-decoration-line: underline;
	-webkit-text-decoration-color: #089adc;
	text-decoration-color: #089adc;
	box-shadow: -1px 2px 2px 0px #0000008f, inset 0 0 9px 4px #8db7da29;
}
/* Конец блока портфолио */

/* Блок контактов */
.block-cell-contact {
	display: inline-block;
	text-align: left;
}

.block-cell-contact p {
	font-family: 'exo_2_lightregular';
	padding: 2px 7px;
	margin: 5px 2px;
	transition: .25s;
}

.block-cell-contact p:hover {
	color: #fff;
	background: #0395ffba;
	border-radius: 14px;
}

.block-cell-contact p > span {
	display: inline-block;
	font-family: 'exo_2_semi_boldregular';
	text-shadow: -1px 1px 5px #00000099;
	letter-spacing: 1px;
}

.block-cell-contact a {
	text-decoration: none;
	color: black;
}

.block-cell-contact a:hover {
	-webkit-text-decoration-line: underline;
	        text-decoration-line: underline;
	-webkit-text-decoration-style: solid;
	        text-decoration-style: solid;
	text-decoration-color: #036480;
	-webkit-text-decoration-color: #036480;
}
/* Конец блока контакты */
/* Футер */

.footer {
	display: block;
}

.block-footer {
	display: flex;
	-ms-align-items: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}

.footer-logo {
	margin: 4px;
}

.footer-logo img {
	margin-right: 3px;
}

.footer-copy p {
	font-family: 'exo_2_lightregular';
}

.footer-copy a, .footer-copy  a:visited {
	text-decoration: none;
	font-family: 'exo_2_semi_boldregular';
	font-size: 14pt;
	color: #adadad;
	padding: 7px;
	transition: .2s;
}

.footer-copy a:hover {
	cursor: pointer; /* При наведение курсор - рука */
	border-radius: 7px;
	background: #f3f3f3;
	-webkit-box-shadow: 0 0 5px #ADA9A9;
	        box-shadow: 0 0 5px #ADA9A9;
	padding: 7px;
	color: #02ADC6;
	text-decoration: underline solid #847B7B; /* Подчёркивание при наведении */
}


@media screen and (max-width: 580px) {
	html, body {
		margin: 0;
		padding: 0;
		height: auto;
		min-height: 100%;
	}
	span {
		display: inline-block;
	}
	.wrapper, .wrapper-sidebar, .wrapper__page {
		border: none;
	}
	.wrapper {
		width: auto;
		display: block;
		margin: 0;
	}
	.wrapper-sidebar {
		border-bottom: 2px solid #D2CECE;
		padding: 5px;
		width: auto;
		text-align: center;
	}
	.wrapper__page {
		margin: 0;
		padding: 10px;
		width: auto;
	}
	.sidebar-nav {
		margin: 0 auto;
	}
	.sidebar-nav h2 {
		margin-top: 5px;
		margin-bottom: 5px;
		font-size: 24pt;
	}
	.nav-list {
		margin: 0;
	}
	.list-item a {
		text-align: center;
	}
	.header {
		display: block;
	}
	.header-logo {
		display: block;
		height: auto;
	}
	.header-logo h1 {
		font-size: 26pt;
		color: #4c4c4c;
		text-shadow: 0 0px 10px #7D7676;
		font-style: italic;
		font-family: 'Exo 2';
		letter-spacing: 3px;
		font-weight: bold;
	}
	.main {
		display: block;
	}

	.main_my-info {
		margin: 25px 0;
	}
}
